<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KRZfzz - Speak and Play</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{url_for('static', filename='css/agency.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    {% with messages = get_flashed_messages() %}        
    {% if messages %}       
    <ul >       
        {% for message in messages %}       
        <div class = "alert alert-success">     
            {{ message }}       
        </div>      
        {% endfor %}        
    </ul>       
    {% endif %}     
    {% endwith %}

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">KRZfzz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portafolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Acerca</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">KRZfzz</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Registrate</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Aprende Inglés y Música con KRZfzz!</div>
                <div class="intro-heading">Cursos Intensivos</div>
                <a href="{{ url_for('login')}}" class="page-scroll btn btn-xl">Empieza</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Eficaz.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enseñanza de Música</h4>
                    <p class="text-muted">Expresate en el intrumento que quieras, escribe canciones y produce tu propia música. Se anima al alumno a ser autodidácta, reduciendo el tiempo costo de sus estudios apoyado con asesorias online.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enseñanza de Inglés</h4>
                    <p class="text-muted">Entiende el vocabulario, la gramática, conversa o escribe fluidamente, comprende lo que lees y escuchas. Cursos intensivos: esencial, intermedio y avanzado, así como asesorias por videollamada para que aprendas desde la comodidad de tu hogar.(PRÓXIMAMENTE)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Producción Musical Digital</h4>
                    <p class="text-muted">Cualquier servicio: arreglos, grabacion, mezcla, mastering, produccion, ejecucion e interpretacion, locucion, doblaje, spots, audios para conmutador, jingles, etc.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portafolio</h2>
                    <h3 class="section-subheading text-muted">Actualidad.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/roundicons.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Am/Is/Are</h4>
                        <p class="text-muted">English Grammar Course</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/startup-framework.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>La Torre de Babel</h4>
                        <p class="text-muted">Interpretación</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a "#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/treehouse.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>14-01-17</h4>
                        <p class="text-muted">Música</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/golden.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Young and beautiful</h4>
                        <p class="text-muted">Interpretación</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/escape.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>efect´s</h4>
                        <p class="text-muted">Música</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{url_for('static', filename='img/portfolio/dreams.png')}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Chilanga Banda</h4>
                        <p class="text-muted">Interpretación</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca</h2>
                    <h3 class="section-subheading text-muted">Antecedentes.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{url_for('static', filename='img/about/1.jpg')}}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2015</h4>
                                    <h4 class="subheading">Estudios</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mi preparación musical inicial la agradezco a profesores particulares y una formación mayormente autodidácta, después de cursar el diplomado "Registro de Audio" en el centro de capacitación para el trabajo industrial no. 108, tomé otro en composición y producción músical en ARSCITE, una institución privada. Actualmente continúo mis estudios de composición en la Universidad Nacional Autonoma de México, mientras a la par, obtengo mis certificaciones de ingles en The Anglo, otra institución privada. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{url_for('static', filename='img/about/2.jpg')}}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2015</h4>
                                    <h4 class="subheading">Presentaciones</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Antes de haber cumplido tres lustros ya tocaba con un par ensambles musicales versatiles en salones de fiestas, después me llamó asistir en la sonorización de eventos en vivo con bandas de música alternativa, mi colaboración más reciente cómo Dj ha sido con el rapero Max Chinasky en algunos estados cómo Hidalgo, Puebla, Quintana Roo y la Ciudad de México.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{url_for('static', filename='img/about/3.jpg')}}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agosto 2016</h4>
                                    <h4 class="subheading">Alfabetización Musical</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En CrearMusic a través de crearmusic.com nos encargamos de hacer de la música un común en la educación básica de las personas, respaldados con la siguiente premisa: ¨Todos deberíamos saber leer y escribir música así como deberían ser capaces de leer y escribir un libro¨.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{url_for('static', filename='img/about/4.jpg')}}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mayo 2017</h4>
                                    <h4 class="subheading">KRZfzz</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nace ésta herramienta digital con material didactico gratuito en la cual se extiende parte de la metodología autodidacta que utiliza CrearMusic, ahora aplicada a la enseñanza del idioma Inglés y, a su vez, una propuesta musical de CrisFiss.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Se Parte
                                    <br>De Ésta
                                    <br>Historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">KRZfzz</h2>
                    <h3 class="section-subheading text-muted">Yo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{url_for('static', filename='img/team/1.jpg')}}" class="img-responsive img-circle" alt="">
                        <h4>CrisFiss</h4>
                        <p class="text-muted">Personaje</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{url_for('static', filename='img/team/2.jpg')}}" class="img-responsive img-circle" alt="">
                        <h4>Cristofer Hernández</h4>
                        <p class="text-muted">Compositor</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.youtube.com/channel/UCXFP94Bp_MsxYrPrJknUApQ"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{url_for('static', filename='img/team/3.jpg')}}" class="img-responsive img-circle" alt="">
                        <h4>KRZfzz</h4>
                        <p class="text-muted">Ejecutante</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Aunque todos hacen referencia a la misma persona, no efectuan las mismas funciones.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <!-- <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logos/envato.jpg')}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logos/designmodo.jpg')}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logos/themeforest.jpg')}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{url_for('static', filename='img/logos/creative-market.jpg')}}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside> -->

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registrate</h2>
                    <h3 class="section-subheading text-muted">Cambia tu vida.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% from "_helper.html" import render_field %}
                    {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                      {% endif %}
                      {% from "_helper.html" import render_field %}
                    <form method="post">
                    <!--<form method="post" name="sentMessage" id="contactForm" >-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h2 class="section-heading">Usuario</h2>
                                    {{ render_field(form.username, class='form-control') }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <h2 class="section-heading">Password</h2>
                                    {{ render_field(form.password, class='form-control') }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <h2 class="section-heading">Email</h2>
                                    {{ render_field(form.email, class='form-control') }}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <input type="submit" value="signup"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; KRZfzz 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCXFP94Bp_MsxYrPrJknUApQ"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Paz</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>AM/IS/ARE</h2>
                                <p class="item-intro text-muted">Essential English Grammar Course</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/XDvFdQjK7xM"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/roundicons-free.png')}}" alt="">-->
                                <p>Sobre el verbo ser expresado positiva y negativamente, el primer video del curso de gramatica inglesa esencial.</p>
                                <!--<p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>La Torre de Babel</h2>
                                <p class="item-intro text-muted">Fragmento.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/0-PNI4SU5EM"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/startup-framework-preview.png')}}" alt="">-->
                                <p>Una versión usando loops, aunque sólo sobrevive la mitad del video.</p>
                                <!--<p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>14-01-17</h2>
                                <p class="item-intro text-muted">Música original.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/-Et7028-gBQ"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/treehouse-preview.png')}}" alt="">-->
                                <p>Una pista reciente, imagen tomada poco después de una fiesta en Cancún.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Young and Beautiful</h2>
                                <p class="item-intro text-muted">Una versión con ukelele y silvidos.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/GYvHmogvxuY"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/golden-preview.png')}}" alt="">-->
                                <p>Después de probar suerte con la loop station casera y verificar que funcionaba correctamente, nació ésta interpretación.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>efect´s</h2>
                                <p class="item-intro text-muted">Música original de antaño.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/Z77dWWJKSZk"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/escape-preview.png')}}" alt="">-->
                                <p>Una de las primeras pistas de Dj CrisFiss.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Chilanga Banda</h2>
                                <p class="item-intro text-muted">Muchos más loops.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/kdA4RwrVS0Y"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/dreams-preview.png')}}" alt="">-->
                                <p>Usando un teclado Casio (cómo las calculadoras), guitarra, melódica y voz, en una tarde calurosa, nació la siguiente interpretación.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    

    <!-- jQuery -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static', filename='js/contact_me.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static', filename='js/agency.min.js')}}"></script>

</body>

</html>
