{% extends "/index2.html" %}

{% block content %}
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    
           <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>AM/IS/ARE</h2>
                                <p class="item-intro text-muted">Essential English Grammar Course</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/XDvFdQjK7xM"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/roundicons-free.png')}}" alt="">-->
                                <p>Sobre el verbo ser expresado positiva y negativamente, el primer video del curso de gramatica inglesa esencial.</p>
                                <!--<p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>La Torre de Babel</h2>
                                <p class="item-intro text-muted">Fragmento.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/0-PNI4SU5EM"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/startup-framework-preview.png')}}" alt="">-->
                                <p>Una versión usando loops, aunque sólo sobrevive la mitad del video.</p>
                                <!--<p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>14-01-17</h2>
                                <p class="item-intro text-muted">Música original.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/-Et7028-gBQ"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/treehouse-preview.png')}}" alt="">-->
                                <p>Una pista reciente, imagen tomada poco después de una fiesta en Cancún.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Young and Beautiful</h2>
                                <p class="item-intro text-muted">Una versión con ukelele y silvidos.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/GYvHmogvxuY"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/golden-preview.png')}}" alt="">-->
                                <p>Después de probar suerte con la loop station casera y verificar que funcionaba correctamente, nació ésta interpretación.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>efect´s</h2>
                                <p class="item-intro text-muted">Música original de antaño.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/Z77dWWJKSZk"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/escape-preview.png')}}" alt="">-->
                                <p>Una de las primeras pistas de Dj CrisFiss.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Chilanga Banda</h2>
                                <p class="item-intro text-muted">Muchos más loops.</p>
                                <iframe width="420" height="315"src="https://www.youtube.com/embed/kdA4RwrVS0Y"></iframe>
                                <!--<img class="img-responsive img-centered" src="{{url_for('static', filename='img/portfolio/dreams-preview.png')}}" alt="">-->
                                <p>Usando un teclado Casio (cómo las calculadoras), guitarra, melódica y voz, en una tarde calurosa, nació la siguiente interpretación.</p>
                                <!--<p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

{% endblock %}